<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog Website</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Krist's Blog</p>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-item-list">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-item-list">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact me</a>
          </li>
        </ul>

      </div>

    </div>

  </nav>
</head>

<body>
