<%- include("patials/header") -%>

<div class="container">
  <h1 class="page-title">Contact me</h1>
  <p>TEL: 123456</p>
  <p>Email: 123456@email.com</p>
  <p><%= contactContent %></p>
</div>

<%- include("patials/footer") -%>
